<header class="header">
  <div class="top-header">
    <img src="../../../assets/logo.png" alt="" />
    <div class="input-search">
      <span>
        <img id="img_search" loading="lazy" src="../../../assets/search.svg" alt=""
      /></span>
      <input type="text" />
    </div>
    <div class="menu-burguer">
      <span class="burguer"></span>
    </div>
  </div>
  <div class="bottom-header">
    <div class="text-tag">
      <h2>GAMES</h2>
      <span></span>
    </div>
    <div class="text-tag">
      <h2>Música</h2>
      <span></span>
    </div>
    <div class="text-tag">
      <h2>Livros</h2>
      <span></span>
    </div>
    <div  class="text-tag">
      <h2>Esportes</h2>
      <span></span>
    </div>
    <div id="fantasy" class="text-tag">
      <h2>Fantasias</h2>
    </div>
  </div>
</header>
