.body-login {
  background-color: #ded5ec;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: #ded5ec;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-login {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
}
.box-left-image {
  background-color: #f605f2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.box-right {
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.box-left-image img {
  background-color: #f605f2;
  display: flex;
  justify-content: center;
}

.box-title-login {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  gap: 20%;
  height: 35%;
  width: 100%;
}
.box-title-login p {
  font-size: 21px;
}

.box-input {
  height: 30%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
}

.box-input-label {
  display: flex;
  gap: 5%;
  align-items: center;
  width: 70%;
}


.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  display: none;
  justify-content: center;
  align-items: center;
}

.overlay-open {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-modal {
  background-color: #f5f5f5;
  height: 80%;
  width: 25%;
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
  border: 2px solid black;
}

.title-modal {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-modal h2 {
  font-size: 30px;
}

.box-input-group {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.input-group {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-group label {
  width: 30%;
  font-size: 20px;
}
.input-group input {
  width: 50%;
  height: 15px;
  padding: 0.7rem;
}

.buttons-group {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.buttons-group button {
  height: 45%;
  width: 35%;
  border-radius: 10px;
  border-color: red;
  background-color: #ffffff;
  color: red;
  font-size: 20px;
  font-weight: bold;
}
.box-singIn b:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

#button-cadastro {
  border-color: rgb(0, 0, 0);
  background-color: #f605f2;
  color: rgb(0, 0, 0);
}

.box-input-label input {
  height: 20px;
  width: 100%;
  padding: 0.8rem;
}
.box-input-label label {
  font-size: 25px;
  font-weight: bolder;
  width: 30%;
}

.text-password {
  width: 63%;
  display: flex;
  justify-content: flex-end;
}
.text-password p {
  font-size: larger;
}

.box-button {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-button button {
  width: 38%;
  height: 44%;
  border-radius: 10px;
  background-color: #f605f2;
}

.box-singIn {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1440px) {
  #img-login {
    width: 100%;
  }

  .container {
    width: 80%;
    height: 90%;
    padding-top: 2%;
    margin-right: auto;
    margin-left: auto;
  }

  .box-login {
    width: 60%;
    height: 100%;
  }

  .box-right {
    width: 64%;
    height: 100%;
  }

  .box-left-image {
    width: 36%;
    height: 100%;
  }
}
